<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lirneen - {% block title %}{% endblock %}</title>

    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
        crossorigin="anonymous">
    
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    />
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    {% block css %} {% endblock %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == "error" %}
            <div class="alert alert-danger alert-dismissable fade show" role="alert">
                <i class="bi bi-exclamation-triangle"></i> {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% elif category == "success" %}
            <div class="alert alert-success alert-dismissable fade show" role="alert">
                <i class="bi bi-check-circle icon-alert"></i> {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" class="icon-alert">&times;</span>
                </button>
            </div>
            {% elif category == "info" %}
            <div class="alert alert-info alert-dismissable fade show" role="alert">
                <i class="bi bi-lightbulb"></i> {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif%}
            {% endfor %}
        {% endif %}
    {% endwith %}


    {% block sidebar %}
    <div class="sidebar">
        <div class="d-flex flex-sm-column flex-shrink-0 p-3 bg-dark background-btn-sidebar">
    
            <button 
                class="navbar-toggler btn-sidebar" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#sidebarCollapse"
                id="sideBarBtn"
                ><i class="bi bi-arrow-right-square"></i>
            </button>
    
    
            <div class="navbar-collapse" id="sidebarCollapse">
                <div class="d-flex flex-column-reverse">
    
                    <div class="dropdown profileDrop">
                        <a class="d-flex align-items-center link-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../static/img/avatars/default.png" width="32" height="32" class="rounded-circle me-2">
                            <strong>Profil</strong>
                        </a>
                        <ul class="dropdown-menu text-small shadow">
                            <!-- <li><a class="dropdown-item" href="#"><i class="bi bi-person"></i> Profil</a></li> -->
                            <li class="dropLI"><a class="dropdown-item" onclick="NightMode()"><i class="bi bi-moon-stars"></i> Mode Jour/Nuit</a></li>
                            <!-- <li><a class="dropdown-item" href="#"><i class="bi bi-translate"></i> Langue</a></li> -->
                            <li class="barLI"><hr class="dropdown-divider"></li>
                            <li class="dropLI"><a class="dropdown-item" href="/login"><i class="bi bi-person-dash"></i> Se déconnecter</a></li>
                        </ul>
                    </div>
    
                    <hr>
    
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link link-light {% if pageName == 'home' %}active{% endif %}">
                                <i class="bi bi-house-door"></i> Home
                            </a>
                        </li>
                        {% if pageName == 'cours' %}
                        <li class="nav-item">
                            <a href="/cours" class="nav-link link-light active">
                                <i class="bi bi-journal"></i> Cours
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="/workshop" class="nav-link link-light {% if pageName == 'workshop' %}active{% endif %}">
                                <i class="bi bi-folder"></i> Workshop
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/flashcard" class="nav-link link-light {% if pageName == 'flashcard' %}active{% endif %}">
                                <i class="bi bi-images"></i> Flashcards
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/quizaffichage" class="nav-link link-light {% if pageName == 'quiz' %}active{% endif %}">
                                <i class="bi bi-book"></i> Quiz
                            </a>
                        </li>
                        <!-- <li>
                            <a href="#" class="nav-link link-light">
                                <i class="bi bi-gear"></i> Options
                            </a>
                        </li> -->
                    </ul>
                    
                    <hr>
    
                    <h2 id="appName">Liʀnēn</h2>
    
                </div>
            </div>
        </div>
    </div> 
    {% endblock %}

    {% block body %} {% endblock %}



    <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
    ></script>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
        crossorigin="anonymous"
    ></script>

    <script src="{{url_for('static', filename='js/base.js')}}"></script>
    {% block js %} {% endblock %}
</body>
</html>