{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block css %}<link rel="stylesheet" href="{{url_for('static', filename='css/cours_create.css')}}">{% endblock %}

{% block sidebar %} {% endblock %}

{% block body %}

<div class="tab">
    <a class="homeBtn" onclick="launchPopupHome()">
        <i class="bi bi-house"></i>
    </a>

</div>

<div class="popup" id="popupHome">
    <h5>Êtes vous sûr ?</h5>
    <button class="popupBtn" onclick="goToCours()">Oui</button>
    <button class="popupBtn" onclick="launchPopupHome()">Non</button>
</div>


<div class="container">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-nav options">
                <a class="nav-link active" href="#infos" >Informations basiques</a>
                <a class="nav-link" href="#lessons">Leçons</a>
            </div>
        </div>
    </nav>    

    <form method="post">
        <div class="popup" id="popupSubmit">
            <h5>Êtes vous sûr ?</h5>
            <button type="submit" class="popupBtn confirm">Oui</button>
            <button type="button" class="popupBtn" onclick=closePopup()>Non</button>
        </div>

        <div class="content" id="infos">
            
            <div class="mb-3">
                <label for="coursTitre" class="form-label">Titre du Cours</label>
                <input type="text" class="form-control" id="coursTitre" required name="coursTitre">
            </div>
            <div class="mb-3">
                <label for="coursDescription" class="form-label">Description</label>
                <input type="text" class="form-control" id="coursDescription desc" name="coursDescription">
            </div>
        </div>

        <button type="button" onclick="addLesson()" id="addT">Ajouter une leçon</button>

        <div class="content" id="lessons">
            <div class="lessonContent" id="lessonContent">
                <div class="lesson1">
                    <label for="lesson1" class="form-label"> Leçon 1:</label>
                    <input type=text class="form-control" name="lesson1" required placeholder="Leçon 1"/>
                    <input type=file class="form-control" name="lesson1File" required accept=".pdf,.html,.md,image/*,audio/*,video/*"/>
                </div>
            </div>
        </div>
    </form>
    <button onclick=launchPopupSubmit() id="endButton" type="button">Submit</button>
</div>









{% block js %} <script src="{{url_for('static', filename='js/cours_create.js')}}"></script> {% endblock %}

{% endblock %}