{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block css %}<link rel="stylesheet" href="{{url_for('static', filename='css/cours_lesson.css')}}">{% endblock %}

{% block body %}

<div class="topbar">

</div>

<iframe class="lessonFile" src="{{url_for('static',filename=coursObject)}}" width="100%" height="100%"></iframe>


{% endblock %}