{% extends "base.html" %}

{% block css %}<link rel="stylesheet" href="{{url_for('static', filename='css/flashcard.css')}}">{% endblock %}

{% block body %}
<div class="titre_menu_fl_2" ><h1 class="titre_menu_fl">creation Flashcards</h1></div>

<div class="flashcard">
    <form method="post">
        <br>
        <label id="id" class="qest">questions</label> <br> <textarea name="question"  class="question" id="question" required></textarea>


        <label id="id" class="rep">reponses</label> <textarea name="reponse" class="reponse" id="reponse" required></textarea>


        <input type="submit" value="créer la flashcard" class="crea_flash" />
    </form>
</div>
<div><a href="/flashcard/apprendre"> <button  class="crea_flash">commencer</button></a> </div>

<a href="/flashcard"><button class="retour2">Revenir au menu</button></a>

{% block js %}<script src="{{url_for('static', filename='js/flashcard.js')}}"></script>{% endblock %}

{% endblock %}