{% extends "base.html" %} 

{% block css %}<link rel="stylesheet" href="{{url_for('static', filename='css/flashcard.css')}}">{% endblock %}

{% block body %}
<div class="titre_menu_fl_2" ><h1 class="titre_menu_fl">Flashcards</h1></div>

<div class="flashcard" > 
    <label id="id" class="qest">questions</label>
    <h5 class="quest_var"> {{ question }} </h5>

    <button class="aff_rep" id="boutton" type="button">afficher la reponse</button>

    <label id="id" class="rep">reponses</label>
    <h5 class="rep_var" id="rep_var"> {{ reponse }} </h5>

    <div class="reussibuttons">
      <button class="reussi" id="reussi" onclick= "reu()"> reussi </button>
      <button class="rate" id="rate" onclick="rat()">Non reussi</button>
    </div>


</div>

<div class="appflashcontent">
  <button class="reinit" onclick="reload()">Réinitialiser</button>

  <button class="supr" onclick="suppr()">Supprimer</button>

  <a href="/flashcard" class="aRetour"><button class="retour">Revenir au menu</button></a>
</div>

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/flashcard.js')}}"></script>
<script>
function reu(){
    $.ajax({
      type: "POST",
      url: "{{url_for('reussi') }}",
    })
    setTimeout(refresh,500)
    function refresh(){
      location.reload()
    }
    
}
function reload(){
    $.ajax({
      type: "POST",
      url: "{{url_for('reload') }}", 
    })
    setTimeout(refresh,500)
    function refresh(){
      location.reload()
    }
    
}
function suppr(){
    $.ajax({
      type: "POST",
      url: "{{url_for('suppr') }}", 
    })
    setTimeout(refresh,500)
    function refresh(){
      location.reload()
    }
    
}


</script>
{% endblock %}

{% endblock %}