{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block css %}<link rel="stylesheet" href="{{url_for('static', filename='css/flashcard.css')}}">
{% endblock %}



{% block body %}
<div class="titre_menu_fl_2" ><h1 class="titre_menu_fl">Menu Flashcards</h1></div>
<form method="post">
    <div class="content" id="flashcards">
        <div class="flashContent" id="flashcontent">
        
        </div>
    </div>

    <div class="menuflashcontent">
        <button type="button" class="ajoutFlash" onclick="addflash()" >Ajouter</button>
        <button type="submit" id="endButton" class="valider">Valider</button>
    </div>
</form>
<div class="content" id="endflashcards">
{%- for nom in nom_list %}
    <div class="menuFlashAll">
        <a href="/flashcard/creation" class="nom" id="{{nom}}"><button class="lien_crea">{{ nom }}</button></a> 
        <button class="deleat" id="{{nom}}" onclick="suppr_fl(this.id)">Supprimer</button>
    </div>
{%- endfor %}
</div>
{% endblock %}



{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/flashcard_creation.js')}}"></script>
<script>
$(".nom").bind('click', function() {
    $.ajax({
    type: "POST",
    url: "{{url_for('change_nom') }}",
    data:{
        nom_flash : $(this).text()
    }
    })
});

function suppr_fl(nom) {
    $.ajax({
    type: "POST",
    url: "{{url_for('effacerFlash') }}",
    data:{
        effacer_nom : nom
    }
    })
    setTimeout(refresh,500)
    function refresh(){
      location.reload()
    }
    };
</script>

{% endblock %}

