{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block css %}<link rel="stylesheet" href="{{url_for('static', filename='css/home_cours.css')}}">{% endblock %}

{% block body %}

<div class="homeCoursBody">
    {% for lecon in cours %}
        <div class="leconTile">
            <h2 class="label">{{ lecon[1] }}</h2>
            <form method="post" action="/lesson"><button class="gotoButton" type="submit" name="goto" value='{{coursInfos["Titre"]+";#*f3"+lecon[2]}}'>Commencer la leçon</button></form>
        </div>
    {% endfor %}
</div>



<div class="leconProfileSide">

    <img src="../static/img/avatars/default.png" class="picture rounded-circle me-2">

    <h2 id="name">{{coursInfos["Titre"]}}</h2>
    <h5 id="description">{{coursInfos["Description"]}}</h3>
    <h5 id="lecon">Nombre de cours : {{coursInfos["Nb_Cours"]}}</h3>

</div>

{% endblock %}