{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block css %}<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">{% endblock %}

{% block body %}

<div class="popup" id="popup">
    <h5>Quel cours souhaitez-vous supprimer ?</h5>
    <form method="post">
        <select name="to_del">
            {% for cours in infos %}
            <option value="{{ cours['Titre']}}">{{ cours["Titre"] }}</option>
            {% endfor %}
        </select>
        <button class="popupBtn" type="submit">Supprimer</button>
    </form>
    <button class="popupBtn" onclick="closePopup()">Annuler</button>
</div>

<div class="homeBody">

    <div class="homeCours">
        <h2 class="label">Vos Cours</h2>

        <div class="cardlist">
            <div class="row justify-content-center align-items-center">
                {% for cours in infos %}
                    <div class="col-auto">
                        <form action="/cours" method="get">
                            <button class="cardButton" type="submit" name="cours" value='{{ cours["Titre"] }}' title='{{cours["Description"]}}'>
                                <div class="card cours-card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ cours["Titre"] }}</h4>
                                        <p class="card-text">{{ cours["Description"] }}</p>
                                    </div>
                                </div>
                            </button>
                        </form>
                    </div>
                {% endfor %}
                <div class="col-auto">
                    <button class="cardButton">
                        <a href="/workshop">
                            <div class="card cours-card">
                                <div class="card-body">
                                    <h5 class="card-title">Ajouter depuis le Workshop</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </a>
                    </button>
                </div>
                <div class="col-auto">
                    <button type="button" onclick="launchPopup()" class="cardButton">
                        <div class="card cours-card">
                            <div class="card-body">
                                <h5 class="card-title">Supprimer un Cours</h4>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </button>
                </div>

                

            </div>
        </div>
    </div>
    


    <div class="homeFlashcards">
        <h2 class="label">Vos Flashcards</h2>

        <div class="cardlist">
            <div class="row justify-content-center align-items-center">
                <div class="col-auto">
                    <button class="cardButton">
                        <a href="/flashcard">
                            <div class="card cours-card">
                                <div class="card-body">
                                    <h4 class="card-title">Ajouter</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="profileSide">

    <img src="../static/img/avatars/default.png" class="picture rounded-circle me-2">

    <h2 id="username">{{name}}</h2>

    <br>
    {% if prof == True %}
    <button class="createButton"><a href="/create">Créer un cours</a></button>
    {% endif %}
</div>


{% block js %} <script src="{{url_for('static', filename='js/home.js')}}"></script> {% endblock %}

{% endblock %}