{% extends "base.html" %} {% block title%}Login{%endblock%}
{% block css %}<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">{% endblock %}

{% block sidebar %} {% endblock %}

{% block body %}

<div class="login-page">
    <div class="form">
      
      <form class="login-form" method="post">
        <input type="text" placeholder="username" name ="username"/>
        <input type="password" placeholder="password" name ="password"/>
        <button type="submit">login</button>
        <p class="message">pas de compte? <a href="/register">créer un compte</a></p>
      </form>
    </div>
  </div>
{% endblock %}