{% extends "base.html" %}

{% block css %}<link rel="stylesheet" href="{{url_for('static', filename='css/classe.css')}}">{% endblock %}
{% block js %}<script src="{{url_for('static', filename='js/classe.js')}}"></script>{% endblock %}

{% block body %}
<div class="titre_menu_classe_2">
    <h1 class="titre_menu_classe">Menu Classe</h1>
</div>
<div>
    
</div>


<p class="acces"><a href="/MenuClasse/MaClasse" >Ma classe</a></p>
{% endblock %}