{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block css %}<link rel="stylesheet" href="{{url_for('static', filename='css/quiz.css')}}">
{% endblock %}


{% block body %}
<div class="titre_menu_quiz_2" ><h1 class="titre_menu_quiz">Menu Quiz</h1></div>
<form method="post">
    <button type="button" class="ajoutquiz" onclick="addquizList()" >Ajouter un quiz</button>
    <div>
        <h5 class="commencer">Commencer :</h5>
        <h5 class="creer">Créer :</h5>
    </div>
    <div class="content" id="quizcards">
        <div class="quizContent" id="quiz-contain">
        
        </div>
    </div>
    <button type="submit" id="endButton" class="valider">valider</button>
</form>
<div class="content">
    
{%- for id_quiz in quizlist %}
    <div class = "id_quiz">
        <br>
        <br>
        <br>
        <a href="/quizzcreate" id="{{id_quiz}}"><button class="lien_crea">{{ id_quiz }}</button></a> 
        <a href="/quiztest" id = "{{id_quiz}}"><button class = "lien_acces">{{ id_quiz }}</button></a>
        <button class="supr" onclick="effacer_quiz()">supprimer</button>
    </div>
{%- endfor %}
    
</div>
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/quiz.js')}}"></script>
<script>
    $(".id_quiz").bind('click', function() {
        $.ajax({
        type: "POST",
        url: "{{url_for('quizlist') }}",
        data:{
            quizlist : $(this).text()
        }
        })
    });
    
</script>
{% endblock %}
{% endblock %}