{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/quiz.css')}}">
{% endblock %}

{% block body %}
<div class="titre" ><h1 class="titre_qu">Quiz </h1></div>
<div class="quiz_content" > 
    <label id="id" class="qest">question :</label>
    <label id="id" class="rep">reponses :</label>
    <form method="post">
    {% for quizlist in tab_quiz %}
    <div class="quiz">
        <label for="answer1">- {{ quizlist[0] }}</label>
        <label class="reponses" for="answer1">-1 :  {{ quizlist[1] }}     </label>
        <label class="reponses" for="answer1">-2 :  {{ quizlist[2] }}     </label>
        <label class="reponses" for="answer1">-3 :  {{ quizlist[3] }}     </label>
        <label class="reponses" for="answer1">-4 :  {{ quizlist[4] }}     </label>
        <br>
        <label class="reponses" for="choix_reponse">-Quel est la réponse ?</label>
        <input class="reponses" type="number" id="br" name="{{ quizlist[5] }}" min="1" max="4" required>
    </div>
    
    <div>
        <h3 class="note">{{note}}</h3>
    </div>
    {% endfor %}
    <button type="submit" id="endButton" class="valider">valider</button>
    </form>

    
    
   

       
    
</div>
{% block js %}<script src="{{url_for('static', filename='js/quiz.js')}}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}
{% endblock %}
