{% extends "base.html" %}

{% block css %}<link rel="stylesheet" href="{{url_for('static', filename='css/quiz.css')}}">{% endblock %}


{% block body %}
<h2>Création de Quizz</h2>
<div id="quiz-container">
    <div class="question-container">
        <form class="quiz-form" method="post">
        <label for="question1">Question:</label>
        <input type="text" id="question1" name="question1" placeholder="Entrez votre question..." required>
        <label for="answer1">Réponse 1:</label>
        <input type="text" id="answer1" name="answer1" placeholder="Entrez la réponse..." required>
        <label for="answer2">Réponse 2:</label>
        <input type="text" id="answer2" name="answer2" placeholder="Entrez la réponse..." required>
        <label for="answer3">Réponse 3:</label>
        <input type="text" id="answer3" name="answer3" placeholder="Entrez la réponse..." >
        <label for="answer4">Réponse 4:</label>
        <input type="text" id="answer4" name="answer4" placeholder="Entrez la réponse..." >
        
        <label for="choix_reponse">Quel est la réponse ?</label>
        <input type="number" id="br" name="br" min="1" max="4" required>
        <hr>
        <button type="submit">créer</button>
        </form>
    </div>
</div>
<a href="/quizaffichage"><button class="acces" name = "acces">continuer vers le quiz</button></a>
{% endblock %}
{% block js %}<script src="{{url_for('static', filename='js/quiz.js')}}"></script>{% endblock %}