{% extends "base.html" %} {% block title %}Sign-Up{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">{% endblock %}

{% block sidebar %} {% endblock %}

{% block body %}

<div class="form">
    <form id="registerForm" method="post">
        <label for="username">Nom D'utilisateur:</label>
        <input type="text" id="username" name="username" required>

        <label for="display_name">Nom d'affichage :</label>
        <input type="text" id="display_name" name="display_name" required>

        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirmPassword">Confirmez le Mot de passe:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>

        <label for="rank">Situation :</label>
        
        
        <label for="html">Eleve</label><br>
        <input type="radio" id="eleve" name="choix_rank" value="ELEVE">
        
        <label for="css">Professeur</label><br>
        <input type="radio" id="prof" name="choix_rank" value="PROF">
        <button type="submit">Register</button>
    </form>
    <p id="errorMessage" class="error-message"></p>
</div>

{% endblock %}