{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block css %}<link rel="stylesheet" href="{{url_for('static', filename='css/workshop.css')}}">{% endblock %}

{% block body %}

<div class="topBar">
    <input type="text" id="InputSearch" onkeyup="searchFunction()" placeholder="Chercher un cours...">
</div>
<div class="CoursCards">
    <h1>Cours disponibles :</h1>
    <div class="cardlist">
        <div class="row row-cols-auto justify-content-center align-items-center">
            {% for info in infos %}
                <div class="coursTitle">
                    <form method="post">
                        <button class="cardButton" type="submit" name="obtain" value='{{ info["Titre"] }}' title='{{info["Description"]}}'>
                            <div class="col">
                                <div class="card cours-card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ info["Titre"] }}</h4>
                                        <p class="card-text">{{ info["Description"] }}</p>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% block js %} <script src="{{url_for('static', filename='js/workshop.js')}}"></script> {% endblock %}

{% endblock %}