:root {
    --main-font: "Roboto", "sans-serif";
    --main-font-monospace: "Noto Sans Mono";
    --main-color-gray: #343a40;
    --main-color-gray-light: #49525A;
    --main-color-blue: #05A8AA;
    --main-color-blue-light: #03B5AA;
    --main-color-white: aliceblue;
    --main-color-background: #fff;
    --main-color-label-border: #343a40ce;
    --main-color-true-white: #fff;
    --main-color-font: #212529 ;
}

body {
    background-color: var(--main-color-background);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    color: var(--main-color-white);
    font-family: var(--main-font);
    z-index: 3;
    width: 18vw;
    min-width: 4rem;
    height: 100%;
    overflow: hidden;
}

.nav-item {
    height: 40px;
    margin-bottom: 10px;
}

.active {
    height: 50px;
    width: 16vw;
}

.nav-link {
    height: 40px;
    vertical-align: middle;
}

.dropLI {
    height: 40px;
}
.dropdown-item {
    height: 40px;
}
.barLI {
    height: 2px;
}

.background-btn-sidebar {
    width: 65px;
    top: 0;
    left: 0;
}

.btn-sidebar {
    z-index: 3;
    width: 30px;
    height: 30px;
    color: var(--main-color-white);
    font-family: var(--main-font);

    padding: 0;
    margin: 0;

    transition: transform 0.1s ease;
}

.btn-sidebar.rotate {
    transform: rotate(180deg);
}

.navbar-collapse {
    position: absolute;
    top: 0px;
    left: -22rem;
    height: 100%;
    width: 22rem;
    min-width: 22rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 10px;
    transition: all 0.3s ease;
    background-color: var(--main-color-gray) !important;
    z-index: 2;
}
.navbar-collapse.collapsing {
    left: calc(-22rem);
}
.navbar-collapse.show {
    left: calc(0px);
}

#appName {
    padding-left: 45px;
    font-family: var(--main-font);
}

.profileDrop {
    position: absolute;
    bottom: 15px;
    height: 50px;
}

.dropdown-menu {
    position: absolute;
    bottom: 70px;
    height: 100px;
}

.dropdown-toggle {
    height: 50px;
}


.nav-pills {
    width: 18rem;
    min-width: 3rem;
}

.label {
    border: 3px solid var(--main-color-label-border);
    background-color: var(--main-color-background);
    color: var(--main-color-font);
    border-radius: 20px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
}

.icon-alert {
    font: #0c5460;
}