*, *::before, *::after {
    font-family: var(--main-font);
}

.acces{
    position: absolute;
    left: 90%;
    top: 90%;
}

.titre_menu_classe{
    position: relative ;
    color: aliceblue;
    padding-bottom: 15px;
    padding-top: 10px;
    text-align: center;
}

.titre_menu_classe_2{
    position: relative;
    background-color: rgb(40, 45, 49);
}