*, *::before, *::after {
    font-family: var(--main-font);
}

.topbar {
    background-color: var(--main-color-gray);
    width: 100vw;
    height: 65px;
}

.lessonFile {
    position: absolute;
    top: 65px;
    left: 0;
    visibility: visible;
    width: 100vw;
    height: calc(100vh - 65px);
}