*, *::before, *::after {
    font-family: var(--main-font);
    color: var(--main-color-white);
    scroll-behavior: smooth;
}

.tab {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color-gray-light);
    height: 60px;
    width: 50px;
    border-radius: 0px 0px 25px 0px;
}

.homeBtn {
    position: absolute;
    border-radius: 0px 0px 25px 0px;
    background-color: var(--main-color-gray-light);
    height: 60px;
    width: 50px;
}

.homeBtn > i {
    width: 100%;
    height: 100%;
    font-size: 40px;
    margin: auto;
    vertical-align: middle;
}

.popup {
    position: absolute;
    width: 30vw;
    min-width: 15rem;
    height: 10rem;
    z-index: 2;
    background-color: var(--main-color-gray);
    border: 3px solid var(--main-color-gray-light);
    border-radius: 25px 25px 25px 25px / 12px 12px 12px 12px;
    visibility: hidden;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    z-index: 3;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup h5 {
    text-align: center;
    margin-top: 15px;
}

.popupBtn {
    display: inline-block;
    width: 80%;
    height: 2rem;
    background: radial-gradient(var(--main-color-blue-light), var(--main-color-blue));
    border: 3px solid var(--main-color-blue);
    border-radius: 20px;
    margin: 15px auto;
    margin-bottom: 0px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.container {
    margin: 5rem auto;
    width: 80vw;
    min-width: 10rem;
    display: grid;
    gap: 5px;
}

.navbar {
    border-radius: 50px 50px 25px 25px / 25px 25px 12px 12px;
    background-color: var(--main-color-gray-light);
    width: 100%;
}

#infos {
    border-radius: 25px 25px 25px 25px / 12px 12px 12px 12px;
    background-color: var(--main-color-gray-light);
    text-align: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 5px;
}

#addT {
    border-radius: 25px 25px 25px 25px / 12px 12px 12px 12px;
    border: 0;
    background-color: var(--main-color-gray);
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

.lessonContent > div {
    border-radius: 25px 25px 25px 25px / 12px 12px 12px 12px;
    background-color: var(--main-color-gray-light);
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.removeBtn {
    display: inline-block;
    width: 100%;
    height: 2rem;
    background: radial-gradient(var(--main-color-blue-light), var(--main-color-blue));
    border: 3px solid var(--main-color-blue);
    border-radius: 20px;
    margin: 15px auto;
    margin-bottom: 0px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

#endButton {
    border-radius: 25px 25px 50px 50px / 12px 12px 25px 25px;
    border: 0;
    background-color: var(--main-color-gray);
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

.do {
    z-index: 0 !important;
}