*, *::before, *::after {
    font-family: var(--main-font);
}

.flashcard{
    position: absolute;
    left:15%;
    top:10%;
    height: 65%;
    width: 70%;
    background-color: rgb(40, 45, 49);
    color: var(--main-color-white);
    border-radius: 5ch;
}

.question{
    position: absolute;
    left: 7%;
    top: 10%;
    height: 30%;
    width: 80%;
    z-index: 300;
    border-radius: 2ch;
    resize: none;
}
.reponse{
    position: absolute;
    left: 7%;
    top: 50%;
    height: 30%;
    width: 80%;
    z-index: 300;
    border-radius: 2ch;
    resize: none;

}

.crea_flash{
    position: absolute;
    left: 70%;
    height: 7%;
    width: 16%;
    top: 85%;
    border-radius: 1ch;
}

.qest{
    position: absolute;
    font-size: 30px;
    left: 6%;
    top: 0%;
    font-family: var(--main-font)
}
.rep{
    position: absolute;
    font-size: 30px;
    left: 6%;
    top: 40%;
    font-family: var(--main-font)
}

.hide{
    z-index: 0 !important ;
}

.quest_var{
    position: absolute;
    top: 15%;
    left: 5%;
    font-size: 25px;
    font-family: var(--main-font)
    
}

.rep_var{
    position: absolute;
    top: 53%;
    left: 5%;
    font-size: 25px;
    display: none;
    font-family: var(--main-font)
    
}

.aff_rep{
    position: absolute;
    top: 45%;
    right: 10%;
    width: 150px;
    height: 45px;
    font-size: large;
    border-radius: 1.5ch;
    font-family: var(--main-font)
}

.reussi{
    font-size: large;
    height: 30px;
    width: 90px;
    border-radius: 1ch;
    display: none;
    font-family: var(--main-font);
}

.rate{
    font-size: large;
    width: 120px;
    height: 30px;
    border-radius: 1ch;
    display: none;
    font-family: var(--main-font)
}

.reinit{
    display: inline-block;
    font-size: larger;
    width: 180px;
    height: 60px;
    background-color: rgb(37, 37, 37);
    color: aliceblue;
    border-radius: 2ch;
    font-family: var(--main-font);
    vertical-align: middle;
    line-height: 60px;
}


.supr{
    display: inline-block;
    font-size: larger;
    width: 180px;
    height: 60px;
    background-color: rgb(177, 18, 18);
    color: rgb(0, 0, 0);
    border-radius: 2ch;
    font-family: var(--main-font);
    vertical-align: middle;
    line-height: 60px;
}

.ajoutFlash{
    display: inline-block;
    font-size: larger;
    width: 180px;
    height: 60px;
    background-color: rgb(37, 37, 37);
    color: aliceblue;
    border-radius: 2ch;
    font-family: var(--main-font);
    vertical-align: middle;
    line-height: 60px;
}

.content{
    border-radius: 25px 25px 25px 25px / 12px 12px 12px 12px;
    background-color: var(--main-color-gray-light);
    text-align: center;
    width: 60%;
    margin-left: 20%;
    padding-bottom: 20px;
    padding-top: 15px;
}

#flashcards {
    border-radius: 25px 25px 0px 0px;
}

#endflashcards {
    border-radius: 0px 0px 25px 25px;
}

.valider{
    display: inline-block;
    font-size: larger;
    width: 180px;
    height: 60px;
    background-color: rgb(19, 73, 3);
    color: aliceblue;
    border-radius: 2ch;
    font-family: var(--main-font);
    vertical-align: middle;
    line-height: 60px;
}

.retour{
    display: inline-block;
    font-size: larger;
    width: 180px;
    height: 60px;
    background-color: rgb(17, 36, 143);
    color: aliceblue;
    border-radius: 2ch;
    font-family: var(--main-font);
    vertical-align: middle;
    line-height: 60px;
}

.retour2{
    display: inline-block;
    font-size: larger;
    width: 180px;
    height: 60px;
    background-color: rgb(17, 36, 143);
    color: aliceblue;
    border-radius: 2ch;
    font-family: var(--main-font);
}


.crea_flash2 {
    display: inline-block;
    border-radius: 1ch;
    height: 60px;
    width: 180px;
}

.deleat{
    width: 180px;
    height: 30px;
    background-color: rgb(177, 18, 18);
    color: rgb(0, 0, 0);
    border-radius: 2ch;
    font-family: var(--main-font);
    margin-right: 50px;
}

.lien_crea{
    position: relative;
    left: -20%;
    width: auto;
    height: 30px;
    background-color: rgb(41, 41, 41);
    color: var(--main-color-white);
    border-radius: 0.5ch;
    font-family: var(--main-font);
}

.titre_menu_fl{
    background-color: var(--main-color-gray);
    width: 100vw;
    height: 65px;
    position: relative ;
    color: aliceblue;
    padding-bottom: 15px;
    padding-top: 10px;
    text-align: center;
}
.titre_menu_fl_2{
    background-color: var(--main-color-gray);
    width: 100vw;
    height: 65px;
    position: relative;
    background-color: rgb(40, 45, 49);
    
}

.ensembleButton {
    position: absolute;
    left: 50%;
    height: 7%;
    width: 50%;
    top: 85%;
    border-radius: 1ch;
}

.appflashcontent {
    position: absolute;
    left:15%;
    top: 80%;
    height: 65px;
    width: 70%;
    text-align: center;
}

.aRetour {
    height: 60px;
}

.menuflashcontent {
    position: absolute;
    top: 80%;
    left: 15%;
    height: 65px;
    width: 70%;
    text-align: center;
}

.menuFlashAll {
    display: flex;
    justify-content: space-between;
}

.nom {
    min-width: 50px;
    margin-left: 50px;
}

.reussibuttons {
    position: absolute;
    top: 80%;
    left: 15%;
    height: 30px;
    width: 100%;
}