*, *::before, *::after {
    font-family: var(--main-font);
}

.homeCoursBody {
    position: absolute;
    top: 0px;
    left: 22rem;
    height: 100%;
    width: calc(100% - 44rem);
    min-width: 10rem;
    margin: auto;
    z-index: 1;
}

.leconTile {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
    text-align: center;
    border: 3px solid var(--main-color-gray-light);
    border-radius: 20px;
    background: var(--main-color-gray-light);
}

.label {
    background: var(--main-color-true-white);
}

.gotoButton {
    display: inline-block;
    width: 100%;
    height: 2rem;
    background: radial-gradient(var(--main-color-blue-light), var(--main-color-blue));
    border: 3px solid var(--main-color-blue);
    border-radius: 20px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.leconProfileSide {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 18vw;
    min-width: 0;
    background-color: var(--main-color-gray);
    padding: auto;
    justify-content: center;
    text-align: center;
}

.picture {
    position: relative;
    margin: auto;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    width: 15vw;
    height: 15vw;
}

#name {
    color: var(--main-color-white);
}

#description {
    color: var(--main-color-white);
}

#lecon {
    color: var(--main-color-white);
}