*, *::before, *::after {
    font-family: var(--main-font);
}

a {
    text-decoration: none;
    color: inherit;
    width: 10rem;
    height: 10rem;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.popup {
    position: absolute;
    width: 30vw;
    min-width: 15rem;
    height: 12rem;
    z-index: 2;
    background-color: var(--main-color-gray);
    border: 3px solid var(--main-color-gray-light);
    border-radius: 25px 25px 25px 25px / 12px 12px 12px 12px;
    visibility: hidden;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    z-index: 3;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup h5 {
    text-align: center;
    margin-top: 15px;
    color: var(--main-color-white);
}

.popup select {
    width: 80%;
    height: 2rem;
    border-radius: 20px ;
}

.popupBtn {
    display: inline-block;
    width: 80%;
    height: 2rem;
    background: radial-gradient(var(--main-color-blue-light), var(--main-color-blue));
    border: 3px solid var(--main-color-blue);
    border-radius: 20px;
    margin: 15px auto;
    margin-bottom: 0px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.homeBody {
    position: absolute;
    top: 0px;
    left: 18vw;
    height: 100%;
    width: calc(100% - 36vw);
    min-width: 8rem;
    margin: auto;
    z-index: 1;
    overflow: hidden;
}

.homeCours {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.homeFlashcards {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.cours-card {
    width: 10rem;
    height: 10rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    text-overflow: ellipsis;
    text-wrap: balance;
    border: 1px solid var(--main-color-label-border);
    background-color: var(--main-color-background);
    color: var(--main-color-font);
    margin-bottom: 10px;
}

.profileSide {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 18vw;
    min-width: 0;
    background-color: var(--main-color-gray);
    padding: auto;
    justify-content: center;
    text-align: center;
}

.picture {
    position: relative;
    margin: auto;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    width: 15vw;
    height: 15vw;
}

#username {
    color: var(--main-color-white);
}

.cardButton {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}

.card-text {
    height: 80%;
    overflow: hidden;
    text-wrap: balance;
    text-overflow: ellipsis;
}

.card-text :hover ::after {
    content: attr(title);
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}

.card-body {
    text-overflow: ellipsis;
    text-wrap: balance;
    height: fit-content;
}

.createButton {
    border: 2px solid;
    border-color: #fff;
    border-radius: 1ch;
    background-color: var(--main-color-gray);
    color: #fff;
}