*, *::before, *::after {
    font-family: var(--main-font);
}

.id_quiz{
    border-radius: 25px 25px 25px 25px / 12px 12px 12px 12px;
    background-color: var(--main-color-gray-light);
    width: 60%;
    margin-left: 20%;
    padding-bottom: 20px;
    padding-top: 15px;
    position: relative;
    background-color: rgb(40, 45, 49);
}

.ajoutquiz{
    position: absolute;
    top: 80%;
    left: 60%;
    font-size: larger;
    width: 180px;
    height: 60px;
    background-color: rgb(37, 37, 37);
    color: aliceblue;
    border-radius: 2ch;
    font-family: var(--main-font)
}

.titre_menu_quiz{
    position: relative ;
    color: aliceblue;
    padding-bottom: 15px;
    padding-top: 10px;
    text-align: center;
    background-color: rgb(40, 45, 49);
}

.valider{
    position: absolute;
    top: 80%;
    left: 75%;
    font-size: larger;
    width: 180px;
    height: 60px;
    background-color: rgb(19, 73, 3);
    color: aliceblue;
    border-radius: 2ch;
    font-family: var(--main-font)
}


.acces{
    position: absolute;
    top: 80%;
    left: 75%;
    font-size: larger;
    width: 180px;
    height: 60px;
    background-color: rgb(19, 73, 3);
    color: aliceblue;
    border-radius: 2ch;
    font-family: var(--main-font)
}


.question-container{
    position: relative;
    left: 20%;
    font-size: larger;
    width: 180px;
    height: 60px;
    background-color: rgb(37, 37, 37);
    color: rgb(134, 132, 132);
    border-radius: 2ch;
    font-family: var(--main-font)
    
}

.create_qust{
    position: absolute;
    top: 80%;
    left: 60%;
    font-size: larger;
    width: 180px;
    height: 60px;
    background-color: rgb(37, 37, 37);
    color: aliceblue;
    border-radius: 2ch;
    font-family: var(--main-font)

}

.addQuest {
    position: absolute;
    top: 50%;
    left: 80%;
}

.commencer{
    z-index: 40000;
    position: absolute;
    font-size: large;
    margin-left: 55%;
    margin-top: 3%;
    color: aliceblue;
}

.creer{
    z-index: 5000;
    color: aliceblue;
    position: absolute;
    font-size: large;
    margin-top: 3%;
    margin-left: 35%;
}

.lien_crea{
    position: relative;
    left: 25%;
    width: 150px;
    height: 40px;
    overflow: hidden;
    border-radius: 3px;
}
.lien_acces{
    position: relative;
    left : 45%;
    width: 150px;
    height: 40px;
    overflow: hidden;
    border-radius: 3px;

}

.supr{
    position: relative;
    left : 50%;
    width: 130px;
    height: 30px;
    overflow: hidden;
    border-radius: 3px;
    color: rgb(202, 12, 12);
}
.note{
    position: absolute;
    margin-left: 60%;
    margin-top: 10%;

}

.titre{
    position: relative;
    color: aliceblue;
    height: 100px;
    text-align: center;
    background-color: var(--main-color-gray);
    width: 100vw;
    height: 65px;
}

.titre_qu{
    position: relative;
    font-size: 50px;
    top:10%
}
.qest{
    position: relative;
    font-size: 200%;
    left: 20%;
}

.rep{
    position: relative;
    font-size: 200%;
    left: 40%;
}

.quiz{
    position: relative;
    left: 18%;
    width: 400px;
    text-wrap: wrap;
    font-size: 150%;
}
.reponses{
    position: relative;
    left: 120%;
    font-size: 100%;
}

.quiz_content {
    color: var(--main-color-font);
}