*, *::before, *::after {
    font-family: var(--main-font);
}

.topBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: var(--main-color-gray);
}

#InputSearch {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.CoursCards {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    height: calc(100% - 75px)
}

h1 {
    text-align: center;
    color: var(--main-color-font);
}

.cours-card {
    width: 10rem;
    height: 10rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    text-overflow: ellipsis;
    text-wrap: balance;
    border: 1px solid var(--main-color-label-border);
    background-color: var(--main-color-background);
    color: var(--main-color-font);
    margin-bottom: 10px;
}

.cardButton {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}

.card-text {
    height: 80%;
    overflow: hidden;
    text-wrap: balance;
    text-overflow: ellipsis;
}

.card-text :hover ::after {
    content: attr(title);
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    background-color: rgba(0,0,0,0.8);
    color: var(--main-color-true-white);
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}

.card-body {
    text-overflow: ellipsis;
    text-wrap: balance;
    height: fit-content;
}